body{ 
 
    background-color: rgb(54, 54, 54); 
 
 
} 
 
 
#circuloRojo{ 
 
 
    width: 100px;           
    height: 100px;                 
    background-color: #550000;      
    border-radius: 50%;             
    margin: 15px auto;                   
    
} 
 
#circuloAmarillo{ 
    width: 100px;               
    height: 100px;         
    background-color: #555500; 
    border-radius: 50%;     
    margin: 15px auto; 
    
} 
 
#circuloVerde{ 
 
    width: 100px;           
    height: 100px;         
    background-color: #005500; 
    border-radius: 50%;   
    margin: 15px auto;     
} 
 
#miBoton{ 
    width:  100px;         
    height: 60px; 
    
    
} 
 
#cuerpoSemaforo{ 
    width: 145px; 
    height: 345px; 
    background-color: rgb(0, 0, 0);     border-radius: 5%; 
    margin: 15px auto; 
    
 
 
} 
 
